:root {
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
}

:root {
    --tab-min-height: 20px !important;
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
}

#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    height: 25px !important; 
    border-top: 3px;
    border-color: blue;
}

#urlbar-input {
  height: 15px !important;
}

#urlbar{
  min-height: 25px !important;
  text-align: center !important;
}

.titlebar-button > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	list-style-image: none;
  border: 1px solid;
	border-radius: 10px;
}

#nav-bar > .toolbarbutton-1{
  padding: 0px !important;
}


#navigator-toolbox{
  --uc-bm-padding: 4px; /* Vertical padding to be applied to bookmarks */
  --uc-bm-height: calc(20px + 2 * var(--uc-bm-padding)); /* Might need to adjust if the toolbar has other buttons */
  --uc-navbar-height: -40px; /* navbar is main toolbar. Use negative value */
  --uc-autohide-toolbar-delay: 600ms; /* The toolbar is hidden after 0.6s */
}

#sidebar-box{ position: relative }

/* Custom min-max-close Buttons */
.titlebar-button {
	transition: all 0.3s ease !important;
	padding: 8px 10px !important;
    
}
.titlebar-button > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	list-style-image: none;
  border: 1px solid;
	border-radius: 10px;
}
.titlebar-button.titlebar-min > .toolbarbutton-icon {
	background: #27c840 !important;
  border-color: #27c83f7a !important;
}



